{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">

        {{!-- <form id="searchBook" name="searchBook" rows="1" cols="100"> --}}


          <input class= "search-field" type="text" placeholder="Search by author or title..." autocomplete="off">
<button type="button" class="btn btn-primary submit-search">Search</button>


        {{!-- </form> --}}
      </div>
      <div class="col-12">
        <h2>Your next great read:</h2>
        <div id="viewBooksTop" class="card mb-3" style="max-width: 740px;">
          <div class="row no-gutters">
            <div class="col-md-3 imgDiv5">
            </div>
            <div class="col-md-9">
              <div class="card-body" id="cardBody5">

                <div class="card-footer text-muted">
                  <div class="dropdown">
                    <select class="selectBook" id="bookInput">
                      <option selected>Pick me!</option>
                      <option class='past5' value='past'>Read</option>
                      <option class='future5' value='future'>To Read</option>
                      <option class='current5' value='current'>Currently Reading</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <h2>Your next great read:</h2>
        <div id="viewBooksTop" class="card mb-3" style="max-width: 740px;">
          <div class="row no-gutters">
            <div class="col-md-3 imgDiv6">
            </div>
            <div class="col-md-9">
              <div class="card-body" id="cardBody6">

                <div class="card-footer text-muted">
                  <div class="dropdown">
                    <select class="selectBook" id="bookInput">
                      <option selected>Pick me!</option>
                      <option class='past6' value='past'>Read</option>
                      <option class='future6' value='future'>To Read</option>
                      <option class='current6' value='current'>Currently Reading</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <h2>Your next great read:</h2>
        <div id="viewBooksTop" class="card mb-3" style="max-width: 740px;">
          <div class="row no-gutters">
            <div class="col-md-3 imgDiv7">
            </div>
            <div class="col-md-9">
              <div class="card-body" id="cardBody7">

                <div id="cardFooter" class="card-footer text-muted">
                 
                    <select class="selectBook" id="bookInput">
                      <option selected>Pick me!</option>
                      <option class='past7' value='past'>Read</option>
                      <option class='future7' value='future'>To Read</option>
                      <option class='current7' value='current'>Currently Reading</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-12">
        <div class="refreshBtn">
          <button onClick="window.location.reload();" type="reload" class="btnRefresh btn-primary"> Refresh Books
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Book Reviews</h4>
      </div>
      <div id="modalBody" class="modal-body">
        {{!-- <p>Some text in the modal.</p> --}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{{!-- <script src="https://code.jquery.com/jquery.js"></script>

<script src="/assets/js/example.js"></script>
<script src="../public/assets/js/app.js"></script> --}}


<script>

var userId = {{ userInfo.id }};
</script> 

