{{> nav/nav-block user=true register=false}}


<section class="row userRow">
  <div class="col-md-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="card-header">Username</div>
        <div class="col-md-4">
          <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">**Member since area**</p>
            <p class="card-text">**Books read area**</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6" id="readCard">
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">Read</div>
        <div class="card-body">
          <p class="card-text">**LIST OF BOOKS THE USER HAS READ**</p>
          <p class="card-text">**LIST OF BOOKS THE USER HAS READ**</p>
        </div>
      </div>
    </div>
</section>

<section class="row readNowRow">
  <div class="col-md-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="card-header">Reading Now</div>
        <div class="col-md-4">
          <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">**Book Info**</p>
            <p class="card-text">**Book Info**</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6" id="readCard">
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">TBR</div>
        <div class="card-body">
          <p class="card-text">**Book info for tbr book**</p>
          <p class="card-text">**Book info for tbr book**</p>
          <p class="card-text">**Book info for tbr book**</p>
        </div>
      </div>
    </div>
  </section>

  <!--footer section-->
<div class="footer">
  <div class="text-center text-muted">
    Names?
  </div>
</div>
