{{> nav/nav-block user=true register=false}}


<section class="row userRow">
  <div class="col-md-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="card-header"> {{userInfo.firstName}} </div>
        <div class="col-md-12">
          <div class="card-body" id="cardBody1">
            <div class="row">
              <div class="col-md-12">
                <p class="card-text">**Member since area**</p>
              </div>
            </div> 
            <div class="row">
              <div class="col-md-12">
                <p class="card-text">**Books read area**</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 followers">User Followers</div>
              <div class="col-md-6 following">User Following</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6" id="haveReadCard">
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">Have Read</div>
        <div class="card-body" id="cardBody2">
          <p class="card-text">**LIST OF BOOKS THE USER HAS READ**</p>
          <p class="card-text">**LIST OF BOOKS THE USER HAS READ**</p>
        </div>
      </div>
    </div>
</section>

<section class="row readNowRow">
  <div class="col-md-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="card-header">Reading Now</div>
        <div class="col-md-12">
          <div class="card-body" id="cardBody3" >
            <p class="card-text">**Book Info**</p>
            <p class="card-text">**Book Info**</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6" id="readCard">
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">TBR</div>
        <div class="card-body" id="cardBody4">
          <p class="card-text">**Book info for tbr book**</p>
          <p class="card-text">**Book info for tbr book**</p>
          <p class="card-text">**Book info for tbr book**</p>
        </div>
      </div>
    </div>
  </section>

  	<br>
	<br>

   <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="copy-btn" class=" btn btn-secondary"></button>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"> &times; </span>
          </button>
        </div>
        <div class="modal-body">
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
	 

{{> modal/login-block}}