/*header for all pages*/
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  z-index: 1;
  overflow: none;
}

/* footer for all pages*/
.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    padding: 7px;
    background-color: #444;
    color: #fff;
  }

/* Profile Page*/
#asideSection {
  margin-right: 20px;
  margin-top: 25px;
  padding: 10px;
  float: right;
}

#profilePageContent {
  margin-left: 20px;
  margin-top: 65px;
  padding: 10px;
}

/*view books page*/
#viewBookContent {
  margin-top: 65px;
  padding: 10px;
  margin-left: 10px;
}

#refresh {
  padding: 5px;
  border-radius: 15px;
}

.login-form {
    width:80%;
    margin-left:10%;
    margin-top:10%;
    margin-bottom:10%;
    padding-left:25%;
    padding-right:25%;
    padding-top:10%;
    padding-bottom:10%;
    border:1px solid black;
    border-radius: 5px;
}

.email-row {
    margin-top:10%;
}

.submit-row {
    margin-left:38%
}
