body {
    color: white;
    background-size: cover;
    height:100%
  }
  
  .jumbotron {
    background: rgba(0,0,0,0);
  }
  
  .modal {
    color: black;
  }
  
  .btn {
    color:white;
    background:#cadde1;
    border: 1px solid white;
  }
  
  #user-form, .header-wrap, #create-form, .create-user-wrap {
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
  }
  
  #update-err-msg,
  #login-err-msg,
  #create-err-msg {
    color: red !important;
  }
  
  #go-home {
   width: auto;
   height: 65px;
  }
  
  .container {
    padding-bottom: 2%;
    margin-top: 10%;
    background: rgba(86, 101, 115,.6);
    height:100%;
    border-radius: .25rem;
    margin-bottom: 2%;
    width: 600px;
  }
  
  [data-useremail="true"] {
    color: white !important;
  }
  [data-register="true"] {
    color: white !important;
  }
  
  .lead {
    font-size: 1.8rem;
    font-weight: 500;
  }
  
  .userId h2, .header-wrap h1 {
    text-transform: capitalize;
  }
  
  hr {
    background-color: #fff !important;
  }
  
  .list-group-item {
    line-height: 2.5;
  }
  
  .card-body {
    color: #444;
  }
/*header for all pages*/
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  z-index: 1;
  overflow: none;
}

/* footer for all pages*/
.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    padding: 7px;
    background-color: #444;
    color: #fff;
  }

/* Profile Page*/
#asideSection {
  margin-right: 20px;
  margin-top: 25px;
  padding: 10px;
  float: right;
}

#profilePageContent {
  margin-left: 20px;
  margin-top: 65px;
  padding: 10px;
}

/*view books page*/
#viewBookContent {
  margin-top: 65px;
  padding: 10px;
  margin-left: 10px;
}

#refresh {
  padding: 5px;
  border-radius: 15px;
}

.login-form {
    width:100%;
    margin-left:10%;
    margin-top:10%;
    margin-bottom:10%;
    padding-left:25%;
    padding-right:25%;
    padding-top:10%;
    padding-bottom:10%;
    border:1px solid black;
    border-radius: 5px;
}

.email-row {
    margin-top:10%;
}

.btn {
    margin-left:27%;
    margin-right:20%
}


.submit-row {
    margin-left:38%
}

