.login-form {
    width:100%;
    margin-left:10%;
    margin-top:10%;
    margin-bottom:10%;
    padding-left:25%;
    padding-right:25%;
    padding-top:10%;
    padding-bottom:10%;
    border:1px solid black;
    border-radius: 5px;
}

.email-row {
    margin-top:10%;
}

.btn {
    margin-left:27%;
    margin-right:20%
}


